/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	#epi-menu { padding: 10px 0 0 0; }
	background-color: $bargl-bg;
	color: $bargl-fg;
	.barw {
		padding: 10px 0 0 0;
		&-brand { line-height: 30px; }
	}
}
