/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ==========================================================================
   General
   ========================================================================== */

.barw {
	background-color: $barw-bg;
	color: $barw-fg;
}
.bargd {
	.row {
		padding: 10px 0;
	}
	background-color: $bargd-bg;
	color: $bargd-fg;
}
.bargl {
	background-color: $bargl-bg;
	color: $bargl-fg;
}

/* ==========================================================================
   Links
   ========================================================================== */

/* ==========================================================================
   Images
   ========================================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1.entry-title, .hentry h2, .sec-title h2 {
	font-size: 16px; text-transform: uppercase; text-decoration: underline;
	&:before, &:after { content: '·'; }

}
.hentry h3 {
	font-size: $font-base-size; text-transform: uppercase; text-decoration: underline;
}
h4 { }

h1, h2, h3, h4, h5, h6 {
	clear: both;
}


/* ==========================================================================
   Accessiblity
   ========================================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ==========================================================================
   Clearings
   ========================================================================== */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

