/* ==========================================================================
   Header
   ========================================================================== */

.barw {
	.row {
		padding: 20px 0;
	}
	background-color: $barw-bg;
	color: $barw-fg;
}

.bargd {
	.row {
		padding: 10px 0;
	}
	background-color: $bargd-bg;
	color: $bargd-fg;
}
.bargl {
	.navbar-collapse {
		text-transform: uppercase;
	}
}
