/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	.barw {
		font-size: 18px;
		font-weight: 700;
		.row {
			padding: 16px 0;
		}

	}

}
