/* ==========================================================================
   Menus
   ========================================================================== */

.site-header {
	.current-menu-item {
		color: $active-color;
		text-decoration: underline;
	}
	.bargl {
		font-family: 'Museo';
		font-weight: 700;
		.navbar-collapse {
			text-transform: uppercase;
		}
	}
}
.site-footer {
	.navbar {
		margin-bottom: 10px;
		font-weight: 700;
		.navbar-collapse { margin-left: -30px; }
	}
}
