/* ==========================================================================
   Menus
   ========================================================================== */

.site-header {
	.current-menu-item {
		color: $active-color;
		text-decoration: underline;
	}
	.bargl {
		font-family: 'Museo';
		font-weight: 700;
		.navbar-collapse {
			text-transform: uppercase;
		}
	}
	.navbar-fixed-top {
		z-index: 2030;
	}
}
.post-type-archive-activity,
.single-activity,
.post-type-archive-download,
.single-download,
.post-type-archive-new,
.single-new {
	.menu-blog {
		color: $active-color;
		text-decoration: underline;
	}
}
.single-garden {
	.menu-garden {
		color: $active-color;
		text-decoration: underline;
	}
}
.site-footer {
	.navbar {
		margin-bottom: 10px;
		font-weight: 700;
		.navbar-collapse { margin-left: -30px; }
		.navbar-brand { font-size: inherit; font-weight: normal; }
	}
}
