/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name,$font-style,$font-weight) {
	@font-face {
		font: {
			family: $font-family;
			style: $font-style;
			weight: $font-weight;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}

/* Box shadow */
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

/* H2 */
@mixin sec-tit($font-size,$text-decoration) {
	font: 700 $font-size 'Museo', sans-serif;
	text-transform: uppercase;
	text-decoration: $text-decoration;
	&:before, &:after { content: '·'; }
}

/* FILTERS */
@mixin filter($border-color) {
	display: inline-block;
	font: 400 14px 'Lato', sans-serif;
	border: 1px solid;
	border-color: $border-color;
	padding: 3px 5px;
	text-transform: uppercase;
}
