/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	h2 {
		font: 700 16px 'Museo', sans-serif;
		text-transform: uppercase;
		text-decoration: underline;
		&:before, &:after { content: '·'; }
	}
	h3 {
		font: 900 17px/1.1em 'Lato', sans-serif;
		margin: 10px 0 0 0;
	}
	.new-date {
		font: 400 16px 'Lato', sans-serif;
	}

}
