/* ==========================================================================
   Single posts
   ========================================================================== */

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

.aligncenter {
	display: block;
	margin-right: auto;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	display: block;
	margin-left: auto;
}
.wp-audio-shortcode { margin-bottom: 1em; }

.single-garden,
.single-new,
.single-download,
.single-actividad {
	.entry-title {
		font: {
			family: 'Lato',sans-serif;
			weight: 700;
			size: 20px;
		}
		line-height: 1.1em;
		text-transform: uppercase;
	}
	.entry-subtitle {
		@include sec-tit(14px,underline,0,14px);
	}
	.entry-content {
		margin-bottom: 9px;
	}
	.entry-footer {
		margin-top: 20px;
	}

}
.single-garden {
	dl.entry-meta {
		dd {
			margin-bottom: 9px
		}
		.garden-address {
			display: block;
		}
		.garden-district {
			border: 1px solid;
			padding: 0 3px;

		}
		p { margin: 0; }
	}
	.equipment {
		text-align: center;
		vertical-align: top;
		width: 120px;
		margin-bottom: 9px;
		&-label {
			margin-top: 5px;
			line-height: 1.1em;
			text-transform: uppercase;
		}
	}
}
.single-new,
.single-download,
.single-actividad {
	.entry-meta {
		margin-bottom: 1em;
		a { font-weight: 700; }
		.updated-on { font-style: italic; }
	}
}
.single-download {
	.download-file {
		margin-bottom: 1em;
		text-align: center;
		a {
			display: inline-block;
			background-color: $brand-primary-transparent;
			color: #fff;
			padding: 40px 30px;
			@include border-radius(55px,55px,55px,55px);
			&:hover { background-color: $brand-primary; }
		}
	}
}
.single-actividad {
	.actividad {
		#map { height: 300px; margin-bottom: 1em; }
		&-org-i { height: 26px; width: auto; vertical-align: bottom; }
	}
}
