/* ==========================================================================
   Single posts
   ========================================================================== */

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

.aligncenter {
	display: block;
	margin-right: auto;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	display: block;
	margin-left: auto;
}

.single-garden {
	.entry-title {
		font: {
			family: 'Lato',sans-serif;
			weight: 700;
			size: 20px;
		}
		line-height: 1.1em;
		text-transform: uppercase;
	}
	.entry-subtitle {
		@include sec-tit(14px,underline,0,14px);
	}
	dl.entry-meta {
		dt {
			font-weight: normal;
			text-transform: uppercase;
			float: left;
			padding-right: 10px;
		}
		.garden-district {
			border: 1px solid;
			padding: 0 3px;

		}
		p { margin: 0; }
	}
	.entry-content {
		margin-bottom: 9px;
	}
	.equipment {
		text-align: center;
		vertical-align: top;
		width: 120px;
		margin-bottom: 9px;
		&-label {
			margin-top: 5px;
			line-height: 1.1em;
			text-transform: uppercase;
		}
	}
	.entry-footer {
		margin-top: 20px;
	}
}
