/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home,
body.page-template-default,
body.page-template-page-map {
	h2 {
		@include sec-tit(14px,underline,14px,14px);
	}
}
body.page-template-page-blog {
	h2 {
		@include sec-tit(16px,underline,0,14px);
	}
}
body.page-template-default {
	h1 {
		@include sec-tit(16px,underline,14px,14px);
	}

}
body.post-type-archive {
	h1 {
		@include sec-tit(16px,underline,0px,14px);
	}
}
body.home,
body.page-template-page-blog,
body.post-type-archive {
	.actividad,.new,.download {
		margin-bottom: 18px;
		h3 {
			font: 900 15px/1.1em 'Lato', sans-serif;
			margin: 10px 0 0 0;
		}
		&-date {
			font: 400 14px 'Lato', sans-serif;
		}
		&-org,&-file {
			text-align: center;
			margin: 20px 0 0 0;
		
		}
	}
}
body.home,
body.page-template-page-gardens {
	.garden {
		&-heading {
			display: table-row;
		}
		h3 {
			font: 900 15px/1.1em 'Lato', sans-serif;
			margin: 0;
			text-transform: uppercase;
		}
		&-text {
			padding: 7px 10px;
			display: table;
			width: 100%;
			height: 100px;
		}
		&-address {
			font: 400 14px 'Lato', sans-serif;
		}
		&-district {
			display: table-cell;
			vertical-align: bottom;
			&-inner {
				@include filter(inherit);
			}
		}
		&-img {
			position: relative;
			figcaption {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}
		}
		&-icon {
		}	
	}
}
body.page-template-page-map {
	.mapdown {
		margin-top: 9px;
		position: relative;
		a {
			display: block;
			padding: 25px 0;
			background-color: rgba(255,255,255,0.7);
			&:hover {
				background-color: rgba(255,255,255,1);
			}
		}
		&-caption {
			position: absolute;
			top: 240px;
			text-align: center;
			width: 100%;
		}
	}
}
body.home {
	.garden { margin-bottom: 18px; }
}
body.page-template-page-gardens {
	.garden {
		margin-bottom: 30px;
	}
	.garden-filters {
		margin-top: 0px;
		margin-bottom: 18px;
	}
	.garden-filter-tit {
		@include sec-tit(16px,none,0,9px);
		color: #fff;
		background-color: $brand-primary;
		border: 1px solid $brand-primary;
		display: inline-block;
		padding: 4px 5px 3px;
	}
	.garden-filter {
		display: inline;
		padding-left: 14px;
		li {
			padding-left: 0;
			padding-right: 9px;
		}
		&-district {
			a { @include filter(#333); }
		}
		&-typology {
			a { @include filter(transparent); }
		}
	}
}
body.page-template-page-faqs {
	.subpage { padding-top: 113px; }
	h1.parent-tit {
		@include sec-tit(16px,underline,0,14px);
	}
	h2.child-tit {
		@include sec-tit(14px,none,0,14px);
	}
	#faqs-nav {
		.scroll-smooth {
			font: {
				family: 'Museo';
				size: 12px;
				weight: 300;
			}
			text-transform: uppercase;
			li { margin-bottom: 5px; }
			.active,a:hover { text-decoration: underline; }
		}
	}
}
