/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	h2 {
		font: 700 16px 'Museo', sans-serif;
		text-transform: uppercase;
		text-decoration: underline;
		&:before, &:after { content: '·'; }
	}
	.actividad {
		h3 {
			font: 900 19px/1.1em 'Lato', sans-serif;
			margin: 10px 0 0 0;
		}
		&-date {
			font: 400 14px 'Lato', sans-serif;
		}
		&-org {
			text-align: center;
			margin: 20px 0 0 0;
		
		}
	}

}
