/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Colors
$brand-primary: #2b3423;
$brand-primary-transparent: rgba(43,52,35,0.6);
$body-bg: #eee7d4;
$text-color: $brand-primary;
$link-color: $brand-primary;
$link-hover-color: #000;

$active-color: $link-hover-color;

$barw-bg: #fff;
$barw-fg: $brand-primary;

$bargd-bg: $brand-primary;
$bargd-fg: #fff;

$bargl-bg: #e2dbb5;
$bargl-fg: $brand-primary;

// Sizes
$font-base-size: 13px;
